body{
    margin: 0;
    padding: 0;
    
}
.container{
    background-color: rgb(238, 188, 96);
    margin-top: 50px;
    text-align: center;

}


.navbar{
    background-color: black;

    border-radius: 30px;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 0px;
    height: 50px;
    position: fixed;
    
   
}

.navbar ul{
    overflow: auto;

}
.navbar li{
    float: left;
    list-style: none;
    margin: 13px 20px;
    
}

.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}


.navbar li a:hover{
color: red ;
}

.search{
    float: right;
    color: white;
    padding: 12px 75px;
}

.navbar input{
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
    width: 129px;

}